*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}
body{
    margin: 0;
    background-image: url(img_src/product-500x500.webp);
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
}
nav{
    background-color: rgba(116, 251, 106, 0.517);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left img{
height: 100px;
width: 170px;
margin-left: 50px;
justify-items: left;
}
.nav-right a{
    text-decoration: none;
    font-size: 20pt;
    display: inline-blockS;
    margin-right: 50px;
    justify-items: center;
}
.backgroundtype{
    background-color: rgba(252, 162, 53, 0.516);
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;    
}
.backgroundtype h1{
    font-size: 40pt;
    f
    justify-content: center;
}